.footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 14px;
    color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* 모바일 기기에서 푸터 조정 */
@media only screen and (max-width: 600px) {
    .footer {
        font-size: 12px; /* 푸터 글씨 크기를 줄임 */
        padding: 10px; /* 푸터 패딩을 줄임 */
    }
}
